.todo-item {
  padding: 10px 0;
  border-top: solid 1px #ddd;
  min-height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.todo-checkbox {
  flex-shrink: 0;
  margin: auto 1ex auto 0;
}

.todo-title {
  flex-grow: 1;
  padding-left: 11px;
}

.todo-complete {
  text-decoration: line-through;
}

.edit-title {
  flex: 1 0 0;
  padding: 4px 10px 4px;
  font-size: 16px;
  font-family: "Lucida Grande",
  Verdana,
  sans-serif;
  line-height: 20px;
  border: solid 1px #dddddd;
  border-radius: 5px;
}

