<div *ngIf="viewMode === 'view'" class="todo-item">
  <input
    type="checkbox"
    class="todo-checkbox"
    (click)="completeItem()"
    [checked]="item.completed"
  />
  <span class="todo-title" [ngClass]="{ 'todo-complete': item.completed }">
    {{ item.title }}
  </span>

  <button [disabled]="item.completed" class="btn" (click)="editValue()">Edit</button>
  <button class="btn btn-red" (click)="removeItem()">Remove</button>
</div>

<div *ngIf="viewMode === 'edit'" class="todo-item">
  <input class="edit-title" [(ngModel)]="title" />

  <button class="btn" (click)="updateTitle()">Save</button>
  <button class="btn btn-red" (click)="cancelEdit()">Cancel</button>
</div>
